---
layout: default
---
{%- capture my_variable %}{% if content.size > 10 %}{{content | strip_html | truncatewords: 30, ""}}{% else %}Hy I provide a top escorts girl with all figure size with a milky good color {{page.title|downcase}} escort service every man wishes well educated, decent bed all day and night, call girls {{page.title|downcase}}{% endif %}{% endcapture %}
<head>
  <title>Lady Escorts {{page.title}} and Call Girls Service | 100% Hand Payment</title>
  <meta name="description" content="{{ my_variable }}" />
  <meta name="rating" content="adult">
  <meta name="rating" content="RTA-5042-1996-1400-1577-RTA">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta charset="utf-8">
  <meta name="content-language" content="en-in">
  <meta name="language" content="en-in">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
  <link rel="canonical" href="{{page.url|absolute_url}}" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>

<body ng-app="myApp">
  <header class="header-warpper">
    <div class="menu-respo">
      <div class="container">
        <div class="header-sec">
          <div class="logo">
            <a href="{{page.url}}" style="font-size:25px;font-weight:bold;">{{page.title}}</a>
          </div>
          <div class="menu-sec">
            <a class="tham-but" href="/contact">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main role="main">
    <section class="Service-warpper">
      <div class="container">
        <div class="services-sec">
          <div class="course-details-banner-content zu-breadcrumb ">
            <div class="b-services">
              <ul class="breadcrumbs">
                <li class="breadcrumbs__crumb breadcrumbs__crumb--home">
                  <a href="/">
                    <span>Home</span>
                  </a>
                </li>
                <li class="breadcrumbs__crumb crumb--last">
                  <a href="#{{page.title|downcase}}-call-girl">
                    <span>{{page.title}} Call Girl</span>
                  </a>
                </li>
              </ul>
            </div>

            <form class="search-form-sec" id="jdfo">
              <select class="custom-select" id="fiwu">
                <option selected="selected" value="">Select City</option>
                {%- if '/'!=page.url %}<option value="/">Hyderabad Call Girl</option>{% endif %}
                {%- for city in site.city %}
                {%- if city.url!=page.url %}
                <option value="{{city.url}}">{{city.title}} Call Girl</option>
                {%- endif %}
                {%- endfor %}
              </select>

              <button class="btn-search service-btn" type="submit">
                <img src="/assets/icon/search.svg" alt="search">
                <span>Search </span>
              </button>
            </form>


            <div class="sub-heading">
              <div class="sub-heading-title">
                <h1 class='title-h1'>Lady Escorts {{page.title}} and Call Girls Service | 100% Hand Payment</h1>
                {%- if content.size > 10 %}
                {{content | split: '%%%%%' | first | strip}}
                {%- else %}
                
                {%- endif %}
              </div>
            </div>
          </div>



          <div class="ashvi-sevice-list-sec">
            <div class="ashvi-sevice-item">
              <a href="#{{page.title|downcase}}-call-girl">
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-4">
                    <div class="ashvi-sevice-img">
                      <img class="lazyload" src="/assets/img/aalya-only-genuine-people-text-indian-escorts.jpg" alt="aalya only genuine people text indian escorts">
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-9 col-8">
                    <div class="ashvi-sevice-heading">
                      <div class="course-details-meta">
                        <div class="meta-name">
                          <h3 class="title">Mina Kumari - Bathroom SEX, Sex Chat with Hot Pics {{page.title}}</h3>
                          <p>Hello guys, I am Mina living PG Room alone, i give you full open nude video call service with hide ur all personal detail, {{page.title}} girls call, i provide full night open service 24/7 available.</p>
                        </div>
                      </div>
                      <div class="services-list-sec ">
                        <ul>
                          <li>18 Years</li>
                          <li>{{page.title}}</li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
              </a>
              <div class="call-whatsapp">
                <a class="service-btn call" href="#sexy-girl-hotel-room-{{page.title|downcase}}">
                  <img src="/assets/icon/call.svg" alt="call">
                </a>
                <a class="service-btn whatsup-btn-stick wapp"
                  href="#best-call-girl-and-escorts-services-in-{{page.title|downcase}}" target="_blank">
                  <img src="/assets/icon/whatsapp-white.svg">
                </a>
              </div>
            </div>
            <div class="ashvi-sevice-item">
              <a href="#escorts-{{page.title|downcase}}">
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-4">
                    <div class="ashvi-sevice-img">
                      <img
                        src="/assets/img/anjali-spa-and-escort-indian-escorts-service-independent-call-girl-service.jpg" alt="anjali spa and escort indian escorts service independent call girl service">
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-9 col-8">
                    <div class="ashvi-sevice-heading">
                      <div class="course-details-meta ">
                        <div class="meta-name">
                          <h3 class="title">Rupa - Nude Dancing, {{page.title}} Real Meet & Cam Session</h3>
                          <p>Hii EVERYONE All services I will provide All photos are my own and verified on the website {{page.title}} escort girl, I'am PROFESSIONAL MODEL I am very new in this city and very new to this field.</p>
                        </div>
                      </div>
                      <div class="services-list-sec ">
                        <ul>
                          <li>20 Years</li>
                          <li>{{page.title}}</li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
              </a>
              <div class="call-whatsapp">
                <a class="service-btn call" href="#call-girl-{{page.title|downcase}}-best-escorts-service">
                  <img src="/assets/icon/call.svg" alt="call">
                </a>
                <a class="service-btn whatsup-btn-stick wapp"
                  href="#verified-{{page.title|downcase}}-call-girls-real-whatsapp" target="_blank">
                  <img src="/assets/icon/whatsapp-white.svg">
                </a>
              </div>
            </div>
            <div class="ashvi-sevice-item">
              <a href="#cash-payment-{{page.title|downcase}}-vip-anushka-ghosh-on-hotel-best-escorts">
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-4">
                    <div class="ashvi-sevice-img">
                      <img
                        src="/assets/img/anushka-best-vip-escorts-service-indian-escort-call-girls-services-available-sexual.jpg" alt="anushka best vip escorts service indian escort call girls services available sexual">
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-9 col-8">
                    <div class="ashvi-sevice-heading">
                      <div class="course-details-meta ">
                        <div class="meta-name">
                          <h3 class="title">Amisha Roy - {{page.title}} Hotel Service Full Cash Payment.</h3>
                          <p>Welcome to my profile I'm independent girl l am beautiful sexy n busty chick girl I every month add my new photos in website my asset size (34-30-32) I'm available, {{page.title}} escorts cam session and real meating</p>
                        </div>
                      </div>
                      <div class="services-list-sec ">
                        <ul>
                          <li>21 Years</li>
                          <li>{{page.title}}</li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
              </a>
              <div class="call-whatsapp">
                <a class="service-btn call"
                  href="#{{page.title|downcase}}-escorts-and-call-girls-service-genuine-profiles">
                  <img src="/assets/icon/call.svg" alt="call">
                </a>
                <a class="service-btn whatsup-btn-stick wapp" href="#{{page.title|downcase}}-escort" target="_blank">
                  <img src="/assets/icon/whatsapp-white.svg">
                </a>
              </div>
            </div>
            <div class="ashvi-sevice-item">
              <a href="#call-girls-{{page.title|downcase}}-indian-rupee-cash-payment-free-home-service">
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-4">
                    <div class="ashvi-sevice-img">
                      <img src="/assets/img/anushka-escorts-service-indian-escort-in-book-incall-outcall-call-girls.jpg" alt="anushka escorts service indian escort in book incall outcall call girls">
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-9 col-8">
                    <div class="ashvi-sevice-heading">
                      <div class="course-details-meta ">
                        <div class="meta-name">
                          <h3 class="title">Riya Verma - Direct Meeting, {{page.title}} No Agents Involved</h3>
                          <p>Hello Everyone, Riya here I am 23 yrs old, independent girl, Working Stay in {{page.title|downcase}} and have curvy figure. Height 5.4, who is only interested to meet</p>
                        </div>
                      </div>
                      <div class="services-list-sec ">
                        <ul>
                          <li>23 Years</li>
                          <li>{{page.title}}</li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
              </a>
              <div class="call-whatsapp">
                <a class="service-btn call" href="#{{page.title|downcase}}-escort-and-call-girl-hot-babes">
                  <img src="/assets/icon/call.svg" alt="call">
                </a>
                <a class="service-btn whatsup-btn-stick wapp"
                  href="#{{page.title|downcase}}-call-girls-with-no-advance-payment" target="_blank">
                  <img src="/assets/icon/whatsapp-white.svg">
                </a>
              </div>
            </div>
            <div class="ashvi-sevice-item">
              <a href="#call-girl-{{page.title|downcase}}-escorts-indian-rupee-cash-payment-home">
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-4">
                    <div class="ashvi-sevice-img">
                      <img src="/assets/img/arohi-in-independent-call-girls-verified-discreet-premium-service.jpg" alt="arohi in independent call girls verified discreet premium service">
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-9 col-8">
                    <div class="ashvi-sevice-heading">
                      <div class="course-details-meta ">
                        <div class="meta-name">
                          <h3 class="title">Ankita Patel - Complete Guaranteed Satisfaction with Respect {{page.title}}</h3>
                          <p>I'm Aradhya a 22-year-old I am independent girl. Make me yours and lets have fun. Get 100% {{page.title}} sex satisfaction and good company. I've been working in this industry since last 1 year.</p>
                        </div>
                      </div>
                      <div class="services-list-sec ">
                        <ul>
                          <li>22 Years</li>
                          <li>{{page.title}}</li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
              </a>
              <div class="call-whatsapp">
                <a class="service-btn call" href="#{{page.title|downcase}}-escort-service">
                  <img src="/assets/icon/call.svg" alt="call">
                </a>
                <a class="service-btn whatsup-btn-stick wapp"
                  href="#girl-call-{{page.title|downcase}}-indian-rupee-cash-payment-free-home-delivery"
                  target="_blank">
                  <img src="/assets/icon/whatsapp-white.svg">
                </a>
              </div>
            </div>
            <div class="ashvi-sevice-item">
              <a href="#{{page.title|downcase}}-call-girls-escort-services">
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-4">
                    <div class="ashvi-sevice-img">
                      <img src="/assets/img/ivanna-just-landed-saudi-escort-in-premium-genuine-verified-services.jpg" alt="ivanna just landed saudi escort in premium genuine verified services">
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-9 col-8">
                    <div class="ashvi-sevice-heading">
                      <div class="course-details-meta ">
                        <div class="meta-name">
                          <h3 class="title">Monika Sharma - {{page.title}} Doorstep Service Available</h3>
                          <p>I am well experienced. I will show you the way to the most intense pleasure. Come and visit me and we'll have great time. sexy {{page.title}} women All Meetings Hottest Female With Me Are Safe And Consensual With Most</p>
                        </div>
                      </div>
                      <div class="services-list-sec ">
                        <ul>
                          <li>24 Years</li>
                          <li>{{page.title}}</li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
              </a>
              <div class="call-whatsapp">
                <a class="service-btn call"
                  href="#genuine-call-girl-in-{{page.title|downcase}}-and-escort-with-real-pictures">
                  <img src="/assets/icon/call.svg" alt="call">
                </a>
                <a class="service-btn whatsup-btn-stick wapp" href="#call-girls-hour-cash-payment-free-home"
                  target="_blank">
                  <img src="/assets/icon/whatsapp-white.svg">
                </a>
              </div>
            </div>
            <div class="ashvi-sevice-item">
              <a href="#get-russian-{{page.title|downcase}}-call-girls-no-advance-payment">
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-4">
                    <div class="ashvi-sevice-img">
                      <img src="/assets/img/karina-escort-in-verified-escorts-hotel-room-indian-rupee.jpg" alt="karina escort in verified escorts hotel room indian rupee">
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-9 col-8">
                    <div class="ashvi-sevice-heading">
                      <div class="course-details-meta ">
                        <div class="meta-name">
                          <h3 class="title">Sanjana Dube - All Star Hotel and {{page.title}} Home Service</h3>
                          <p>Hi, my name is Sanjana I fashion designer, I am 19 years old, I have come to Fashion Week, I am also interested in escort, {{page.title}} escorts service I am very bored here, I want a little fun.</p>
                        </div>
                      </div>
                      <div class="services-list-sec ">
                        <ul>
                          <li>19 Years</li>
                          <li>{{page.title}}</li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
              </a>
              <div class="call-whatsapp">
                <a class="service-btn call" href="#escort-service-and-adult-meetings-in-india-{{page.title|downcase}}">
                  <img src="/assets/icon/call.svg" alt="call">
                </a>
                <a class="service-btn whatsup-btn-stick wapp"
                  href="#girl-escort-in-{{page.title|downcase}}-sensual-night-with-cod" target="_blank">
                  <img src="/assets/icon/whatsapp-white.svg">
                </a>
              </div>
            </div>
            <div class="ashvi-sevice-item">
              <a href="#book-real-call-girls-in-{{page.title|downcase}}-call-whatsapp">
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-4">
                    <div class="ashvi-sevice-img">
                      <img src="/assets/img/maya-rathod-indian-escorts-in-high-profile-call-girls-low-rates.jpg" alt="maya rathod indian escorts in high profile call girls {{page.title|downcase}} low rates">
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-9 col-8">
                    <div class="ashvi-sevice-heading">
                      <div class="course-details-meta ">
                        <div class="meta-name">
                          <h3 class="title">Neha Dube - Ultimate Fun {{page.title}} And Naughty Experience</h3>
                          <p>Hi, my name is Neha Dube, I 21 years old, I am very interested in sex, if you want, me anytime. You can call, I give full service, call girl {{page.title}} service I don't want any advance, pay me at your place, I am an honest girl.</p>
                        </div>
                      </div>
                      <div class="services-list-sec ">
                        <ul>
                          <li>21 Years</li>
                          <li>{{page.title}}</li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
              </a>
              <div class="call-whatsapp">
                <a class="service-btn call" href="#meet-real-call-girls-in-{{page.title|downcase}}-escort">
                  <img src="/assets/icon/call.svg" alt="call">
                </a>
                <a class="service-btn whatsup-btn-stick wapp"
                  href="#{{page.title|downcase}}-escort-service-high-profile-and-genuine" target="_blank">
                  <img src="/assets/icon/whatsapp-white.svg">
                </a>
              </div>
            </div>
            <div class="ashvi-sevice-item">
              <a href="#{{page.title|downcase}}-hire-independent-escorts-service">
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-4">
                    <div class="ashvi-sevice-img">
                      <img src="/assets/img/prakhya-indian-escort-in-vip-high-profile-premium-hotels-outcall.jpg" alt="prakhya indian escort in vip high profile premium hotels outcall">
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-9 col-8">
                    <div class="ashvi-sevice-heading">
                      <div class="course-details-meta ">
                        <div class="meta-name">
                          <h3 class="title">Nadia - Providing Perfect Girlfriend Experience {{page.title}}</h3>
                          <p>Welcome, I'm Nadia your sensual stress, indulge in deep relaxation, and feel completely rejuvenated from head to toe, {{page.title}} escorts girls then you've just found your perfect match</p>
                        </div>
                      </div>
                      <div class="services-list-sec ">
                        <ul>
                          <li>21 Years</li>
                          <li>{{page.title}}</li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
              </a>
              <div class="call-whatsapp">
                <a class="service-btn call" href="#{{page.title|downcase}}-escorts-service-off-and-free-hotel-room">
                  <img src="/assets/icon/call.svg" alt="call">
                </a>
                <a class="service-btn whatsup-btn-stick wapp"
                  href="#escort-{{page.title|downcase}}-vip-high-profile-premium-hotels-outcall" target="_blank">
                  <img src="/assets/icon/whatsapp-white.svg">
                </a>
              </div>
            </div>
            <div class="ashvi-sevice-item">
              <a href="#call-girls-in-{{page.title|downcase}}-service-with-free-home-delivery">
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-4">
                    <div class="ashvi-sevice-img">
                      <img src="/assets/img/richa-malhotra-indian-in-genuine-call-girl-service.jpg" alt="richa malhotra indian in genuine call girl service">
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-9 col-8">
                    <div class="ashvi-sevice-heading">
                      <div class="course-details-meta ">
                        <div class="meta-name">
                          <h3 class="title">Sonika Yadav - {{page.title}} Both Incall, Outcall Available</h3>
                          <p>I'm Sonika here and independent girl, I'm a soft-spoken, caring, and attentive soul with magical hands and a warm, healing energy. girl escort {{page.title}} My sessions are all about your comfort, your pleasure.</p>
                        </div>
                      </div>
                      <div class="services-list-sec ">
                        <ul>
                          <li>21 Years</li>
                          <li>{{page.title}}</li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
              </a>
              <div class="call-whatsapp">
                <a class="service-btn call"
                  href="#verified-{{page.title|downcase}}-escorts-with-hotel-room-from-indian-rupee">
                  <img src="/assets/icon/call.svg" alt="call">
                </a>
                <a class="service-btn whatsup-btn-stick wapp"
                  href="#{{page.title|downcase}}-escort-premium-genuine-and-verified-services" target="_blank">
                  <img src="/assets/icon/whatsapp-white.svg">
                </a>
              </div>
            </div>
            <div class="ashvi-sevice-item">
              <a href="#escorts-{{page.title|downcase}}-india-call-girls-service">
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-4">
                    <div class="ashvi-sevice-img">
                      <img src="/assets/img/sexy-lexy-russian-escort-in-taipei-high-profile-girls-doorstep.jpg" alt="sexy lexy russian escort in taipei high profile girls doorstep">
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-9 col-8">
                    <div class="ashvi-sevice-heading">
                      <div class="course-details-meta ">
                        <div class="meta-name">
                          <h3 class="title">Monika Sharma - Massage, {{page.title}} Oral Sex with Noncondom</h3>
                          <p>i'm Monika, VIP call girl service full enjoy all type sex without condom sex full enjoy, {{page.title}} escorts Meetings Hottest Female With Me Are Safe And Consensual, Who Always Take Care Of Women's Feelings</p>
                        </div>
                      </div>
                      <div class="services-list-sec ">
                        <ul>
                          <li>21 Years</li>
                          <li>{{page.title}}</li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
              </a>
              <div class="call-whatsapp">
                <a class="service-btn call" href="#{{page.title|downcase}}-call-girl-premium-escort-service-and-cash">
                  <img src="/assets/icon/call.svg" alt="call">
                </a>
                <a class="service-btn whatsup-btn-stick wapp"
                  href="#cash-only-call-girls-in-{{page.title|downcase}}-no-advance-genuine-escorts" target="_blank">
                  <img src="/assets/icon/whatsapp-white.svg">
                </a>
              </div>
            </div>
            <div class="ashvi-sevice-item">
              <a href="#find-escort-service-and-adult-meetings-in-{{page.title|downcase}}">
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-4">
                    <div class="ashvi-sevice-img">
                      <img class="lazyload" src="/assets/img/tanisha-indian-escort-iservice-off-free-hotel-room.jpg" alt="tanisha indian escort iservice off free hotel room">
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-9 col-8">
                    <div class="ashvi-sevice-heading">
                      <div class="course-details-meta ">
                        <div class="meta-name">
                          <h3 class="title">Amrita - Relaxing Hand Massage, {{page.title}} Real pictures</h3>
                          <p>Hello Dear, My Name Is Amrita, I'm 22 Years Old, I Am A Very Polite, Hot, Passionate Girl Who Right Now Can Give You A Lot Of Pleasure And Satisfaction; {{page.title}} girls call I Love To Meet With Romantic And Polite Men.</p>
                        </div>
                      </div>
                      <div class="services-list-sec ">
                        <ul>
                          <li>22 Years</li>
                          <li>{{page.title}}</li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
              </a>
              <div class="call-whatsapp">
                <a class="service-btn call"
                  href="#top-class-{{page.title|downcase}}-escorts-trusted-escort-service-in-{{page.title|downcase}}">
                  <img src="/assets/icon/call.svg" alt="call">
                </a>
                <a class="service-btn whatsup-btn-stick wapp"
                  href="#call-girls-in-{{page.title|downcase}}-escorts-cash-payment-free" target="_blank">
                  <img src="/assets/icon/whatsapp-white.svg">
                </a>
              </div>
            </div>
            <div class="ashvi-sevice-item">
              <a href="#only-case-payment-genuine-service-{{page.title|downcase}}">
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-4">
                    <div class="ashvi-sevice-img">
                      <img src="/assets/img/tanu-indian-escort-in-escorts-service-high-profile-genuine.jpg" alt="tanu indian escort in escorts service high profile genuine">
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-9 col-8">
                    <div class="ashvi-sevice-heading">
                      <div class="course-details-meta ">
                        <div class="meta-name">
                          <h3 class="title">Richa Malhotra - Get {{page.title}} Sensual Relaxing Evening,</h3>
                          <p>Hi, I’m Richa, a 20 year old independent companion offering discreet, {{page.title}} escort service personalized experiences for respectful gentlemen who appreciate warmth, beauty, and genuine connection.
                          </p>
                        </div>
                      </div>
                      <div class="services-list-sec ">
                        <ul>
                          <li>20 Years</li>
                          <li>{{page.title}}</li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
              </a>
              <div class="call-whatsapp">
                <a class="service-btn call" href="#top-class-{{page.title|downcase}}-escort-elite-service-call-girl">
                  <img src="/assets/icon/call.svg" alt="call">
                </a>
                <a class="service-btn whatsup-btn-stick wapp"
                  href="#high-profile-escort-service-{{page.title|downcase}}-escorts" target="_blank">
                  <img src="/assets/icon/whatsapp-white.svg">
                </a>
              </div>
            </div>
            <div class="ashvi-sevice-item">
              <a href="#{{page.title|downcase}}-payment-hand-to-hand-satisfaction-customer-satisf">
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-4">
                    <div class="ashvi-sevice-img">
                      <img src="/assets/img/tian-nana-thai-in-call-girls-indian-rupee-no-advance-payment-call-girl.jpg" alt="thai in call girls indian rupee no advance payment call girl">
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-9 col-8">
                    <div class="ashvi-sevice-heading">
                      <div class="course-details-meta ">
                        <div class="meta-name">
                          <h3 class="title">Joya Khan - Real & {{page.title}} Independent Female Service</h3>
                          <p>My Self joya From {{page.title|downcase}} an Independent {{page.title|downcase}} Escorts Girl for you. I am stunning 23yrs. I am very fair, decent, well Spoken, 5.4" tall, I am busty female I will wow you with my presence and experience</p>
                        </div>
                        <div class="services-list-sec">
                          <ul>
                            <li>23 Years</li>
                            <li>{{page.title}}</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <div class="call-whatsapp">
                <a class="service-btn call" href="#independent-{{page.title|downcase}}-escorts-sex-agency">
                  <img src="/assets/icon/call.svg" alt="call">
                </a>
                <a class="service-btn whatsup-btn-stick wapp"
                  href="#escort-service-{{page.title|downcase}}-independent-call-girl-service" target="_blank">
                  <img src="/assets/icon/whatsapp-white.svg">
                </a>
              </div>
            </div>
            <div class="ashvi-sevice-item">
              <a href="#{{page.title|downcase}}-top-best-low-price-call-girls-sex-service-available-safe-and-secure">
                <div class="row">
                  <div class="col-lg-2 col-md-3 col-4">
                    <div class="ashvi-sevice-img">
                      <img src="/assets/img/vip-escorts-indian-independent-call-girls-escorts-escort.jpg" alt="{{page.title}} 24/7 top best low price call girls sex service available 100% safe and secure">
                    </div>
                  </div>
                  <div class="col-lg-10 col-md-9 col-8">
                    <div class="ashvi-sevice-heading">
                      <div class="course-details-meta ">
                        <div class="meta-name">
                          <h3 class="title">Taniya Patel - Confident Posture, Stylish Sex {{page.title}}</h3>
                          <p>My name is Taniya Patel, I'm available in {{page.title|downcase}}, I very sweet and easy going, come to my place to make your day or night unforgettable. My time with you will be a memorable time for all of you.</p>
                        </div>
                      </div>
                      <div class="services-list-sec ">
                        <ul>
                          <li>18 Years</li>
                          <li>{{page.title}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <div class="call-whatsapp">
                <a class="service-btn call" href="#premium-{{page.title|downcase}}-call-girl-and-escort-services">
                  <img src="/assets/icon/call.svg" alt="call">
                </a>
                <a class="service-btn whatsup-btn-stick wapp"
                  href="#{{page.title|downcase}}-escort-and-call-girls-services-available-for-your-sexual"
                  target="_blank">
                  <img src="/assets/icon/whatsapp-white.svg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="top-cities">
      <div class="container">
        <div class="course-details-banner-content zu-breadcrumb  rs-banner">
          <div class="course-details-meta services-list-sec">
            <div class="content-name">

              {{content|split: '%%%%%'|last|strip}}

            </div>
          </div>
        </div>

        {%- if page.local.size > 0 %}
        <div class="services-list-sec">
          <h2>{{page.title}} Top Localities</h2>
          <ul>

            {%- for local in page.local %}
            <li>
              <a href="#{{local|downcase|replace:' ','-'}}-call-girls-and-escorts-service">{{local}}</a>
            </li>
            {%- endfor %}
          </ul>
        </div>
        {%- endif %}

        <div class="services-list-sec">
          <h2>Find us in other top cities of India</h2>
          <ul>
            {%- if '/'!=page.url %}
            <li>
              <a href="/">HYDERABAD</a>
            </li>
            {%- endif %}

            {%- for city in site.city %}
            {%- if city.url!=page.url %}
            <li>
              <a href="{{city.url}}">{{city.title|upcase}}</a>
            </li>
            {%- endif %}
            {%- endfor %}
          </ul>
        </div>
        
      </div>
    </section>


    <div id="cwbt">
      <a class="call" href="#{{page.title|downcase}}-escorts-service">CALL NOW</a>
      <a class="wapp"  href="#{{page.title|downcase}}-call girls-service">WHATSAPP</a>
    </div>


  </main>
  <footer class="footer-wrapper border-top ">
    <div class="container">
      <div class="footer-sec">
        <ul>
          <li>
            <a href="/contact">
              CONTACT
            </a>
          </li>
          <li>
            <a href="/disclaimer">
              DISCLAIMER
            </a>
          </li>
          <li>
            <a href="/privacy-policy">
              PRIVACY POLICY
            </a>
          </li>
          <li>
            <a href="/terms-and-conditions">
              TERMS & CONDITIONS
            </a>
          </li>

        </ul>
      </div>
    </div>
    <div class="copyright-sec ">
      <p class="mb-0">Copyright © 2025 Ashvi</p>
    </div>
  </footer>
  <script id="scrt" src="/assets/script.js" data-title="{{page.title|downcase}}"></script>
</body>